<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Gyroid</title>
</head>
<body>
<h1>Add New Gyroid</h1>
<form action="/gyroid" method="POST">
    <label>name: <input type="text" name="name"></label><br>
    <label>Colour: <input type="text" name="colour"></label><br>
    <button type="submit">Add Gyroid</button>
</form>
<a href="/">Back to list</a>
</body>
</html>
